body {
    background: seashell !important;
    padding-bottom: 5rem;
    min-height: 100vh;
}

#backdrop {
    height: 60vh;
    background: url('../assets/mountains.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

nav {
    width: 70vw;
    margin-top: 1rem;
}

@media screen and (max-width: 992px) {
    nav {
        width: 100vw;
        margin-top: 0 !important;
    }
}


@media screen and (min-width: 768px) {
    .languages-section {
        padding-left: 0 !important;
    }
    .hobbies-section {
        padding-right: 0 !important;
    }
}
@media screen and (max-width: 768px) {
    .languages-section {
        padding: 0 0 1.5rem 0 !important;
    }
    .hobbies-section {
        padding: 0 !important;
    }
}


.container-center {
    position: relative;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#profile-hero {
    margin-top: 6rem;
}

.hero-card {
    /* width: 70vw; */
    border: none !important;
    border-radius: 15px !important;
}

#profile-hero .profile-img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

.contact-icons {
    font-size: 1.4rem;
}

.kv-grid {
    display: grid;
    grid-template-columns: 1fr 8fr; /* 1 part key, 2 parts value */
    gap: 0.5rem 1rem;
    font-family: sans-serif;
}

.key {
    font-weight: bold;
    text-align: start;
    color: #333;
}

.value {
    color: #555;
}

#education, #experience, #languages {
    margin-top: 2rem;
}
